*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #F1F5F8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  max-width: 40vw;
  width: 70vw;
  min-width: 30rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
  margin-top: 2rem;
}
.title{
  padding: 1rem 0 2rem 0;
  color: #244B66;
  letter-spacing: 0.125rem;
}
.input{
  width: 80%;
  padding: 0.5rem 0.125rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border-color: transparent;
  background-color: #F1F5F8;
}
.submit{
  padding: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-color: transparent;
  background-color: #A5D5F8;
  letter-spacing: 0.125rem;
  cursor: pointer;
  transition: all 500ms ease;
}
.submit:hover{
  background-color: #49A6E9;
  color: #fff;
}
.alert{
  width: 100%;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}
.success{
  background-color: rgb(202, 240, 200);
  color: rgb(19, 138, 19);
}
.danger{
  background-color: rgb(255, 158, 158);
  color: rgb(138, 19, 19);
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem;
}
.list-item{
  width: 100%;
  padding: 0.125rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  transition: all 500ms ease;
  margin-bottom: 1rem;
}
.list-item:hover{
  background-color: #F1F5F8;
  border-radius: 0.5rem;
  color: #83878a;
}
.edit ,.trash{
  border-color: transparent;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: all 500ms ease;
}
.edit{
  color: rgb(50, 243, 40);
}
.edit:hover{
  color: rgb(28, 146, 22);
}
.trash{
  color: rgb(255, 0, 0);
}
.trash:hover{
  color: rgb(145, 21, 21);
}
.clear-all-btn{
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 80, 80);
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: all 500ms ease;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.clear-all-btn:hover{
  background-color: rgb(255, 80, 80);
  color: #fff;
}